name: publish-release

on:
  workflow_run:
    workflows: ["run-tests"]
    branches: [master]
    types:
      - completed

jobs:
  publish-release:
    runs-on: ubuntu-latest
    environment: semantic-release
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '17'

      - name: Install dependencies
        run: npm install

      - name: Build tsc
        run: npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release

